Appointment_Workflow.json
{
  "name": "Appointment_Workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=🎯 Role of the Assistant\nYou are a virtual assistant specializing in appointment management for Mr.Yokesh . Your goal is to schedule service consultations accurately, ensuring real availability while providing a smooth experience for Customer.\n\n🕒 Office Hours\nMonday - Friday: 9:00 AM - 8:00 PM\nSaturday: 9:00 AM - 1:00 PM\nSunday: ❌ Closed\nService Consultation Duration: 1 hour\nBreak Between Customer: 15 minutes\n\n📅 Booking Process\n\n1️⃣ Request Customer Information (Mandatory):\nFull Name\nPhone Number\nDesired Date and Time\n2️⃣ Availability Check:\nIf the requested time is outside office hours → offer only available slots.\nIf the requested time is available, ask for confirmation and book it.\nIf the requested time is unavailable, apologize and suggest the actual available slots on the requested day (between 9:00 AM and 8:00 PM, respecting breaks).\n\n##Example:\nIf a Customer requests an appointment at 10:00 AM, check Google Calendar to confirm availability between 9:00 AM and 8:00 PM, considering the consultation duration (1 hour) and the 15-minute breaks.\n\n🚨 Do not confirm the appointment immediately—you must receive the Customer's confirmation first.\n\n3️⃣ Confirmation & Updates:\nConfirm availability with the Customer before finalizing.\nUpdate Google Calendar & Google Sheets after every booking.\nGoogle Calendar Event Title: \"Customer Name - Phone Number\".\nFor modifications or cancellations, free the slot and update the schedule.\n\n##Tools:\nUse \"Cheek Avilability\" to check available slots.\nUse \"Creat event\" to book the appointment.\nUse \"Add Data\" to record Customer information.\n\n💬 Communication\n✅ Respond clearly, professionally, and in a friendly manner.\n✅ Always confirm the final date and time with the Customer.\n✅ Ensure Google Calendar and Google Sheets are updated after every booking.\n\n📅 Today's date: {{ $now }}."
        }
      },
      "id": "d37bd962-6826-41ff-bb33-7939538dbf8b",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -784,
        -272
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "04573331-6f75-4fa1-8cb4-afc5e23bea96",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -960,
        32
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "GrUMbAb2f7mlYuyN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ String(   $('Telegram Trigger').item.json.message?.chat?.id    || $('Telegram Trigger').item.json.message?.from?.id    || $json.chat_id ) }}"
      },
      "id": "ba15f4ae-5493-4198-af1c-92370dca3f32",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -832,
        32
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "yokesh1987@gmail.com",
          "mode": "list",
          "cachedResultName": "yokesh1987@gmail.com"
        },
        "timeMin": "={{ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {}
      },
      "id": "3fd9975c-e0fb-4b14-8105-c685abfc6de4",
      "name": "Check Availability",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        -704,
        32
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "weE8BZERoJxNK7sG",
          "name": "Yokesh Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "132mPbHHg180AWr0SM-2GH4_gBxW5sIB5mjvgpHVbhK0",
          "mode": "list",
          "cachedResultName": "Service_Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/132mPbHHg180AWr0SM-2GH4_gBxW5sIB5mjvgpHVbhK0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/132mPbHHg180AWr0SM-2GH4_gBxW5sIB5mjvgpHVbhK0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Number', ``, 'string') }}",
            "Date/Hours": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date_Hours', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date/Hours",
              "displayName": "Date/Hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b048d5cc-ef0c-481b-83a4-d92f187bcf38",
      "name": "Add data",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        -464,
        32
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9GVwcBWJpggLMxMV",
          "name": "Yokesh_Sheets"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "yokesh1987@gmail.com",
          "mode": "list",
          "cachedResultName": "yokesh1987@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "Your Service Appointment",
          "summary": "Service Appointment"
        }
      },
      "id": "d2f6fbda-902e-457e-b32c-61ba0fef870a",
      "name": "Creat event",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        -592,
        48
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "weE8BZERoJxNK7sG",
          "name": "Yokesh Calendar account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1056,
        -288
      ],
      "id": "7b6ad5eb-45e2-463e-9f3c-b4f35c8e8426",
      "name": "Telegram Trigger",
      "webhookId": "60759d26-e0db-476a-9992-d46ab029b961",
      "credentials": {
        "telegramApi": {
          "id": "ksmQSd5MgerPTBFh",
          "name": "Telegram Appointment Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -352,
        -304
      ],
      "id": "7730c71b-1a09-478a-b8af-8c34d757461d",
      "name": "Send a text message",
      "webhookId": "133b72c2-e14b-4cbc-9416-926f7149123a",
      "credentials": {
        "telegramApi": {
          "id": "ksmQSd5MgerPTBFh",
          "name": "Telegram Appointment Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Check Availability": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add data": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Creat event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "435096cb-9c2a-40c8-8ca7-77e39d1f0533",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "65397da1724e8bc6b1c03e7622f76a50f708f7f7b8e3993c5add29845b20f434"
  },
  "id": "qwVJHRuaPWE9j48i",
  "tags": []
}